.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;
    color: #000;
}
.nav_logo h2{
    font-size: 1.5rem;
}
.link ul{
    display: flex;
    gap: 1rem;
}
.link ul li{
    color: #666;
    font-size: 18px;
    font-weight: 600;
}
.link ul li:hover{
    cursor: pointer;
    color: #000;
}
.navbar .btn button{
    margin-left: 1rem;
    padding: 0.8rem 2rem;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 6px 6px #666;
}
.navbar .btn button:hover{
    background-color: #6F00FF;
    color: #fff;
}