.footer{
    background-color: #000;
    color: #fff;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding-inline: 100px;
    margin-top: 40px;
}
.right , .left{
    margin-top: 20px;
}
.left ul{
    display: flex;
    gap: 15px;
}
.left ul li{
    font-size: 18px;
}